<div class="burger-menu is-open">
  <div class="burger-menu-wrapper container">
    <div class="burger-menu-nav">
      <button type="button" class="burger-menu-close">
        <svg class="burger-menu-close-icon" width="11" height="11">
          <use href="../image/sprite/icons.svg#icon-close"></use>
        </svg>
      </button>
      <a href="./index.html" class="burger-menu-logo">
        <svg class="burger-menu-logo-icon" width="84" height="36">
          <use href="../image/sprite/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <a href="#pricing" class="burger-menu-btn">
        Join
        <span class="burger-menu-btn-accent">Now</span>
      </a>
    </div>
    <div class="burger-menu-content">
      <ul class="burger-menu-list">
        <li class="burger-menu-list-item">
          <a class="burger-menu-link" href="#classes">Yoga Classes</a>
        </li>
        <li class="burger-menu-list-item">
          <a class="burger-menu-link" href="#team">Team</a>
        </li>
        <li class="burger-menu-list-item">
          <a class="burger-menu-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="burger-menu-list-item">
          <a class="burger-menu-link" href="#pricing">Pricing</a>
        </li>
        <li class="burger-menu-list-item">
          <a class="burger-menu-link" href="#contacts">Contacts</a>
        </li>
      </ul>
      <a href="#pricing" class="burger-menu-bottom-btn">Join Now</a>
    </div>
  </div>
</div>
