<section class="yoga-gallery">
  <h2 class="title">Breathe in the Space</h2>
  <p class="yoga-text">
    Step inside YogaBloom and feel the calm. Explore our serene studio and the
    peaceful moments our community shares during each session.
  </p>

  <ul class="yoga-photo-list">
    <li class="yoga-photo-item">
      <img
        src="images/yoga1.jpg"
        srcset="images/yoga1.jpg 1x, images/yoga1@2x.jpg 2x"
        alt="Woman meditating in lotus pose indoors"
        width="300"
      />
    </li>
    <li class="yoga-photo-item">
      <img
        src="images/yoga2.jpg"
        srcset="images/yoga2.jpg 1x, images/yoga2@2x.jpg 2x"
        alt="Yoga group stretching on mats"
        width="300"
      />
    </li>
    <li class="yoga-photo-item">
      <img
        src="images/yoga3.jpg"
        srcset="images/yoga3.jpg 1x, images/yoga3@2x.jpg 2x"
        alt="Instructor guiding downward dog pose"
        width="300"
      />
    </li>
    <li class="yoga-photo-item">
      <img
        src="images/yoga4.jpg"
        srcset="images/yoga4.jpg 1x, images/yoga4@2x.jpg 2x"
        alt="Outdoor yoga at sunrise"
        width="300"
      />
    </li>
    <li class="yoga-photo-item">
      <img
        src="images/yoga5.jpg"
        srcset="images/yoga5.jpg 1x, images/yoga5@2x.jpg 2x"
        alt="Balance pose with hands raised"
        width="300"
      />
    </li>
    <li class="yoga-photo-item">
      <img
        src="images/yoga6.jpg"
        srcset="images/yoga6.jpg 1x, images/yoga6@2x.jpg 2x"
        alt="Meditation with candles and calm lighting"
        width="300"
      />
    </li>
  </ul>
</section>
