<section class="yoga-gallery">
  <div class="container">
    <div class="header-gallery">
      <h2 class="title">Breathe in the Space</h2>
      <p class="yoga-text">
        Step inside YogaBloom and feel the calm. Explore our serene studio and
        the peaceful moments our community shares during each session.
      </p>
    </div>
  </div>
  <ul class="yoga-photo-list">
    <li class="yoga-photo-item">
      <source
        media="(min-width: 1336px)"
        srcset="
          /image/gallery/gallery-desk1.jpg    1x,
          /image/gallery/gallery-desk1@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /image/gallery/gallery-tab1.jpg    1x,
          /image/gallery/gallery-tab1@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /image/gallery/gallery-mob1.jpg    1x,
          /image/gallery/gallery-mob1@2x.jpg 2x
        "
      />
      <img
        class="yoga-picture"
        src="/image/gallery/gallery-desk1.jpg"
        srcset="
          /image/gallery/gallery-desk1.jpg    1x,
          /image/gallery/gallery-desk1@2x.jpg 2x
        "
        alt="Yoga people"
      />
    </li>
    <li class="yoga-photo-item">
      <source
        media="(min-width: 1336px)"
        srcset="
          /image/gallery/gallery-desk2.jpg    1x,
          /image/gallery/gallery-desk2@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /image/gallery/gallery-tab2.jpg    1x,
          /image/gallery/gallery-tab2@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /image/gallery/gallery-mob2.jpg    1x,
          /image/gallery/gallery-mob2@2x.jpg 2x
        "
      />
      <img
        class="yoga-picture"
        src="/image/gallery/gallery-desk2.jpg"
        srcset="
          /image/gallery/gallery-desk2.jpg    1x,
          /image/gallery/gallery-desk2@2x.jpg 2x
        "
        alt="Yoga people"
      />
    </li>
    <li class="yoga-photo-item">
      <source
        media="(min-width: 1336px)"
        srcset="
          /image/gallery/gallery-desk3.jpg    1x,
          /image/gallery/gallery-desk3@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /image/gallery/gallery-tab3.jpg    1x,
          /image/gallery/gallery-tab3@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /image/gallery/gallery-mob3.jpg    1x,
          /image/gallery/gallery-mob3@2x.jpg 2x
        "
      />
      <img
        class="yoga-picture"
        src="/image/gallery/gallery-desk3.jpg"
        srcset="
          /image/gallery/gallery-desk3.jpg    1x,
          /image/gallery/gallery-desk3@2x.jpg 2x
        "
        alt="Instructor in pose"
      />
    </li>
    <li class="yoga-photo-item">
      <source
        media="(min-width: 1336px)"
        srcset="
          /image/gallery/gallery-desk4.jpg    1x,
          /image/gallery/gallery-desk4@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /image/gallery/gallery-tab4.jpg    1x,
          /image/gallery/gallery-tab4@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /image/gallery/gallery-mob4.jpg    1x,
          /image/gallery/gallery-mob4@2x.jpg 2x
        "
      />
      <img
        class="yoga-picture"
        src="/image/gallery/gallery-desk4.jpg"
        srcset="
          /image/gallery/gallery-desk4.jpg    1x,
          /image/gallery/gallery-desk4@2x.jpg 2x
        "
        alt="Empty yoga studio"
      />
    </li>
    <li class="yoga-photo-item">
      <source
        media="(min-width: 1336px)"
        srcset="
          /image/gallery/gallery-desk5.jpg    1x,
          /image/gallery/gallery-desk5@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /image/gallery/gallery-tab5.jpg    1x,
          /image/gallery/gallery-tab5@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /image/gallery/gallery-mob5.jpg    1x,
          /image/gallery/gallery-mob5@2x.jpg 2x
        "
      />
      <img
        class="yoga-picture"
        src="/image/gallery/gallery-desk5.jpg"
        srcset="
          /image/gallery/gallery-desk5.jpg    1x,
          /image/gallery/gallery-desk5@2x.jpg 2x
        "
        alt="Peaceful meditation"
      />
    </li>
    <li class="yoga-photo-item">
      <source
        media="(min-width: 1336px)"
        srcset="
          /image/gallery/gallery-desk6.jpg    1x,
          /image/gallery/gallery-desk6@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /image/gallery/gallery-tab6.jpg    1x,
          /image/gallery/gallery-tab6@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /image/gallery/gallery-mob6.jpg    1x,
          /image/gallery/gallery-mob6@2x.jpg 2x
        "
      />
      <img
        class="yoga-picture"
        src="/image/gallery/gallery-desk6.jpg"
        srcset="
          /image/gallery/gallery-desk6.jpg    1x,
          /image/gallery/gallery-desk6@2x.jpg 2x
        "
        alt="Meditating woman"
      />
    </li>
  </ul>
</section>
