<header class="header">
  <div class="container header-container">
    <button class="header-burger-btn" type="button">
      <svg class="header-burger-btn-icon" width="24" height="24">
        <use href="/image/sprite/icons.svg#icon-menu"></use>
      </svg>
    </button>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="#yoga-classes" class="header-nav-list-item-link current"
            >Yoga Classes</a
          >
        </li>
        <li class="header-nav-list-item">
          <a href="#team" class="header-nav-list-item-link">Team</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#testimonials" class="header-nav-list-item-link"
            >Testimonials</a
          >
        </li>
        <li class="header-nav-list-item">
          <a href="#pricing" class="header-nav-list-item-link">Pricing</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#contacts" class="header-nav-list-item-link">Contacts</a>
        </li>
      </ul>
    </nav>

    <a href="./index.html" class="header-logo">
      <svg class="header-logo-icon" width="84" height="36">
        <use href="/image/sprite/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <a href="#pricing" class="header-btn join-btn">
      <span class="header-btn-mobile">Join</span>
      <span class="header-btn-tablet">Join Now</span>
    </a>
  </div>
</header>
