<section class="hero">
  <div class="container">
      <img class="hero-img"></img>
      <div class="hero-content">
      <h1 class="hero-title">Transform Your Life with Our Yoga Clases</h1>
      <div class="hero-png-btn">
        <p class="hero-prg">
          Discover the harmony of mind and body through our expertly designed
          yoga programs. Join a community dedicated to wellness and personal
          growth.
        </p>
        <ul class="hero-buttons">
          <li>
            <a class="join-btn hero-join-button" href="#pricing">Join Now</a>
          </li>
          <li>
            <a class="learn-btn" href="#gallery">Learn More</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
