<div class="pricing" id="pricing">
  <div class="pricing-content container">
    <p class="pretitle">Affordable</p>
    <h2 class="title">Pricing Plans</h2>
    <p class="description">Choose the perfect plan for your yoga journey.</p>
    <div class="pricing-wrapper">
      <div class="pricing-card">
        <h2 class="card-title">One Session</h2>

        <h3 class="card-price">$10</h3>

        <div class="benefit-item">
          <svg class="check-icon" width="24" height="24">
            <use href="/image/sprite/icons.svg#icon-check"></use>
          </svg>
          <p>1 group session</p>
        </div>

        <div class="benefit-item">
          <svg class="check-icon" width="24" height="24">
            <use href="/image/sprite/icons.svg#icon-check"></use>
          </svg>
          <p>10% discount for next 2 Sessions</p>
        </div>

        <div class="benefit-item">
          <svg class="check-icon" width="24" height="24">
            <use href="/image/sprite/icons.svg#icon-check"></use>
          </svg>
          <p>Community support group</p>
        </div>

        <button class="join-btn" type="button" data-value="$10" data-open>
          Join
        </button>
      </div>

      <div class="pricing-card">
        <h2 class="card-title">8 Sessions Package</h2>
        <h3 class="card-price">$65</h3>

        <div class="benefit-item">
          <svg class="check-icon" width="24" height="24">
            <use href="/image/sprite/icons.svg#icon-check"></use>
          </svg>
          <p>6 Group Sessions</p>
        </div>

        <div class="benefit-item">
          <svg class="check-icon" width="24" height="24">
            <use href="/image/sprite/icons.svg#icon-check"></use>
          </svg>
          <p>2 Individual Sessions</p>
        </div>

        <div class="benefit-item">
          <svg class="check-icon" width="24" height="24">
            <use href="/image/sprite/icons.svg#icon-check"></use>
          </svg>
          <p>Community support group</p>
        </div>

        <button class="join-btn" type="button" data-value="$65" data-open>
          Join
        </button>
      </div>

      <div class="pricing-card">
        <div class="tablet-wrapper">
          <h2 class="card-title">12 Sessions Package</h2>
          <h3 class="card-price">$80</h3>
          <button class="join-btn" type="button" data-value="$80" data-open>
            Join
          </button>
        </div>

        <div class="tablet-benefit-item">
          <div class="benefit-item">
            <svg class="check-icon" width="24" height="24">
              <use href="/image/sprite/icons.svg#icon-check"></use>
            </svg>
            <p>8 Group Sessions</p>
          </div>

          <div class="benefit-item">
            <svg class="check-icon" width="24" height="24">
              <use href="/image/sprite/icons.svg#icon-check"></use>
            </svg>
            <p>4 Individual Sessions</p>
          </div>

          <div class="benefit-item">
            <svg class="check-icon" width="24" height="24">
              <use href="/image/sprite/icons.svg#icon-check"></use>
            </svg>
            <p>Monthly yoga challenges</p>
          </div>

          <div class="benefit-item">
            <svg class="check-icon" width="24" height="24">
              <use href="/image/sprite/icons.svg#icon-check"></use>
            </svg>
            <p>Exclusive member discounts</p>
          </div>

          <div class="benefit-item">
            <svg class="check-icon" width="24" height="24">
              <use href="/image/sprite/icons.svg#icon-check"></use>
            </svg>
            <p>Community support group</p>
          </div>
        </div>

        <button class="join-btn" type="button" data-value="$80" data-open>
          Join
        </button>
      </div>
    </div>
  </div>
</div>