<section class="team">
  <div class="container">
    <p class="team-tagline">Meet</p>
    <h2 class="team-title title">Our Team</h2>
    <p class="team-text">
      Dedicated professionals passionate about yoga and wellness.
    </p>

    <ul class="team-list">
      <li class="team-list-card">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              ../image/team/team-desk1.jpg    1x,
              ../image/team/team-desk1@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ../image/team/team-tab1.jpg    1x,
              ../image/team/team-tab1@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ../image/team/team-mob1.jpg    1x,
              ../image/team/team-mob1@2x.jpg 2x
            "
          />

          <img
            src="../image/team/team-desk1.jpg"
            alt="Liam Johnson"
            class="team-list-card-image"
          />
        </picture>
        <h3 class="team-list-card-name">Liam Johnson</h3>
        <p class="team-list-card-job">Yoga Instructor</p>
        <p class="team-list-card-text">
          Emma has over 10 years of experience in Hatha and Vinyasa yoga.
        </p>
        <ul class="team-list-card-list">
          <li class="team-list-card-list-item">
            <a
              href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
              class="team-list-card-list-item-link"
              target="_blank"
            >
              <svg
                class="team-list-card-list-item-link-icon"
                width="24"
                height="24"
              >
                <use href="../image/sprite/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
          <li class="team-list-card-list-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="team-list-card-list-item-link"
              target="_blank"
            >
              <svg
                class="team-list-card-list-item-link-icon"
                width="24"
                height="24"
              >
                <use href="../image/sprite/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-list-card">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              ../image/team/team-desk2.jpg    1x,
              ../image/team/team-desk2@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ../image/team/team-tab2.jpg    1x,
              ../image/team/team-tab2@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ../image/team/team-mob2.jpg    1x,
              ../image/team/team-mob2@2x.jpg 2x
            "
          />

          <img
            src="../image/team/team-desk2.jpg"
            alt="Emma Stone"
            class="team-list-card-image"
          />
        </picture>
        <h3 class="team-list-card-name">Emma Stone</h3>
        <h4 class="team-list-card-job">Meditation Coach</h4>
        <p class="team-list-card-text">
          Liam specializes in mindfulness and stress reduction techniques
          through guided meditation.
        </p>
        <ul class="team-list-card-list">
          <li class="team-list-card-list-item">
            <a
              href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
              class="team-list-card-list-item-link"
              target="_blank"
            >
              <svg
                class="team-list-card-list-item-link-icon"
                width="24"
                height="24"
              >
                <use href="../image/sprite/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-list-card">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              ../image/team/team-desk3.jpg    1x,
              ../image/team/team-desk3@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ../image/team/team-tab3.jpg    1x,
              ../image/team/team-tab3@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ../image/team/team-mob3.jpg    1x,
              ../image/team/team-mob3@2x.jpg 2x
            "
          />

          <img
            src="../image/team/team-desk3.jpg"
            alt="Sophia Lee"
            class="team-list-card-image"
          />
        </picture>
        <h3 class="team-list-card-name">Sophia Lee</h3>
        <h4 class="team-list-card-job">Pilates Trainer</h4>
        <p class="team-list-card-text">
          Sophia combines Pilates with yoga for a holistic fitness approach.
        </p>
        <ul class="team-list-card-list">
          <li class="team-list-card-list-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="team-list-card-list-item-link"
              target="_blank"
            >
              <svg
                class="team-list-card-list-item-link-icon"
                width="24"
                height="24"
              >
                <use href="../image/sprite/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-list-card">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              ../image/team/team-desk4.jpg    1x,
              ../image/team/team-desk4@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ../image/team/team-tab4.jpg    1x,
              ../image/team/team-tab4@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ../image/team/team-mob4.jpg    1x,
              ../image/team/team-mob4@2x.jpg 2x
            "
          />

          <img
            src="../image/team/team-desk4.jpg"
            alt="Noah Brown"
            class="team-list-card-image"
          />
        </picture>
        <h3 class="team-list-card-name">Noah Brown</h3>
        <h4 class="team-list-card-job">Yoga Therapist</h4>
        <p class="team-list-card-text">
          Noah focuses on therapeutic yoga to aid recovery and enhance
          well-being.
        </p>
        <ul class="team-list-card-list">
          <li class="team-list-card-list-item">
            <a
              href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
              class="team-list-card-list-item-link"
              target="_blank"
            >
              <svg
                class="team-list-card-list-item-link-icon"
                width="24"
                height="24"
              >
                <use href="../image/sprite/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-list-card">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              ../image/team/team-desk5.jpg    1x,
              ../image/team/team-desk5@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ../image/team/team-tab5.jpg    1x,
              ../image/team/team-tab5@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ../image/team/team-mob5.jpg    1x,
              ../image/team/team-mob5@2x.jpg 2x
            "
          />

          <img
            src="../image/team/team-desk5.jpg"
            alt="Ava Green"
            class="team-list-card-image"
          />
        </picture>
        <h3 class="team-list-card-name">Ava Green</h3>
        <h4 class="team-list-card-job">Fitness Trainer</h4>
        <p class="team-list-card-text">
          Ava integrates strength training with yoga to promote overall fitness.
        </p>
        <ul class="team-list-card-list">
          <li class="team-list-card-list-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="team-list-card-list-item-link"
              target="_blank"
            >
              <svg
                class="team-list-card-list-item-link-icon"
                width="24"
                height="24"
              >
                <use href="../image/sprite/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="team-list-card-list-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="team-list-card-list-item-link"
              target="_blank"
            >
              <svg
                class="team-list-card-list-item-link-icon"
                width="24"
                height="24"
              >
                <use href="../image/sprite/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="team-list-card-list-item">
            <a
              href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
              class="team-list-card-list-item-link"
              target="_blank"
            >
              <svg
                class="team-list-card-list-item-link-icon"
                width="25"
                height="24"
              >
                <use href="../image/sprite/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-list-card">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              ../image/team/team-desk6.jpg    1x,
              ../image/team/team-desk6@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ../image/team/team-tab6.jpg    1x,
              ../image/team/team-tab6@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ../image/team/team-mob6.jpg    1x,
              ../image/team/team-mob6@2x.jpg 2x
            "
          />

          <img
            src="../image/team/team-desk6.jpg"
            alt="Liam Johnson"
            class="team-list-card-image"
          />
        </picture>
        <h3 class="team-list-card-name">Liam Johnson</h3>
        <h4 class="team-list-card-job">Fitness Trainer</h4>
        <p class="team-list-card-text">
          Clark specializes in mindfulness and stress reduction techniques
          through guided meditation.
        </p>
        <ul class="team-list-card-list">
          <li class="team-list-card-list-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="team-list-card-list-item-link"
              target="_blank"
            >
              <svg
                class="team-list-card-list-item-link-icon"
                width="24"
                height="24"
              >
                <use href="../image/sprite/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="team-list-card-list-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="team-list-card-list-item-link"
              target="_blank"
            >
              <svg
                class="team-list-card-list-item-link-icon"
                width="24"
                height="24"
              >
                <use href="../image/sprite/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
