.classes {
  background-color: #f2fafa;
}

.classes-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 64px 16px;
  min-width: 320px;
}

@media (min-width: 768px) {
  .classes-wrapper {
    padding: 40px 32px;
  }
}

@media (min-width: 1336px) {
  .classes-wrapper {
    padding: 112px 64px;
  }
}

.classes-title-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.classes-title-accent {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #0d0b0a;
}

.classes-title {
  max-width: 768px;

  font-weight: 400;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
}

.classes-text {
  margin: 20px auto 0;
  max-width: 768px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
}

@media (min-width: 768px) {
  .classes-text {
    margin: 24px auto 0;
  }
}

.classes-list {
  display: flex;
  flex-direction: column;
  gap: 48px;

  margin: 48px 0;
}

@media (min-width: 768px) {
  .classes-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'first second'
      'third third';
    gap: 24px;

    margin: 40px 0;
  }

  .classes-list-item.first {
    grid-area: first;
  }

  .classes-list-item.second {
    grid-area: second;
  }

  .classes-list-item.third {
    grid-area: third;
  }
}

@media (min-width: 1336px) {
  .classes-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'first second third';
    gap: 24px;
  }
}

.classes-list-item {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1336px) {
  .classes-list-item {
    max-width: 421px;
  }
}

.classes-list-item-title {
  margin-top: 24px;

  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
}

@media (min-width: 768px) {
  .classes-list-item-title {
    margin-top: 16px;
  }
}

@media (min-width: 1336px) {
  .classes-list-item-title {
    margin-top: 32px;
    font-size: 36px;
  }
}

.classes-list-item-text {
  margin-top: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
}

@media (min-width: 768px) {
  .classes-list-item-text {
    margin-top: 0;
  }
}

@media (min-width: 1336px) {
  .classes-list-item-text {
    margin-top: 24px;
  }
}

.classes-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  border: 1px solid #c2d9fc;
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  height: 46px;
  background-color: #c2d9fc;

  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  transition:
    background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.classes-btn:hover,
.classes-btn:focus {
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(13, 11, 10, 0.05);
}

@media (min-width: 768px) {
  .classes-btn {
    max-width: 110px;
  }
}
